html, body {
    max-width: 100%;
}

html {
    font-size: 10px;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #eee;
    background: url("../img/header-blue.jpg") no-repeat center bottom fixed;
    background-size: auto auto;
    background-size: cover;
}

.text {
    &__center {
        text-align: center;
    }

    &__left {
        text-align: left;
    }

    &__right {
        text-align: right;
    }
}

hr {
    margin-top: 3rem;
    margin-bottom: $margin-big;
    max-width: 100px;
    border-bottom: 2px solid $gold;
}