$margin-small: 1rem;
$margin-medium: 2rem;
$margin-big: 4rem;
$margin-bigger: 8rem;

$padding-small: 1rem;
$padding-medium: 2rem;
$padding-big: 4rem;
$padding-bigger: 8rem;

.wrap {
    max-width: 1120px;
    padding: 0 $padding-small;

    margin: 0 auto;
}