.animated {
    &.delay-05s {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }
    &.delay-1s {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
    }
    &.delay-15s {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
    }
}